html,
body, main, nav, header, ul, h1, h2, h3, h4, p {
  font-family: 'Product Sans', Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.image-container {
  position: relative;
}

.image-overlay {
  background: rgba(0,0,0,.7);
  z-index: 2;
  width: 300px;
  height: 160px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-radius: 5px;
  transition: 0.25s;
}

.image-overlay:hover {
  background: rgba(0,0,0,.1);
}


.navigation-link {
  display: flex;
  justify-content: flex-end;
}

.navigation-link  li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.navigation-link li a:link, .navigation-link li a:active, .navigation-link li a:visited {
  padding: 20px;
  transition: 0.25s;
  color: #fff;
}

.navigation-link li a:hover {
  background: rgba(255,255,255, 0.1);
}

.bg-dark  {
  background-color: #333;
  color: #fff;
}

.bg-lightgreen {
  background: #27DB7A;
}

.jumbotron {
  min-height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  
}

.jumbotron h1 {
  margin-left: 100px;
  font-size: 54px;
  font-weight: 400;
}

.jumbotron h1 span {
  display: block;
}


.section-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: 40px; */
}


.section-header-title {
  font-size: 32px;
}

.section-header-line {
  margin: 5px;
  height: 4px;
  width: 100px;
  background: #2093FE;
}

.section-header-subtitle {
  margin: 5px;
  color: #555;
}

.what-i-do-list li {
  display: inline-block;
}

.contact {
  margin: 20px;
  padding: 20px;
}

.progress-bar , .progress{
  height: 10px;
  border-radius: 5px;
}

.skillset ul li{
  list-style: none;
  margin: 10px 75px 10px 0;
}

.what-i-do, .projects, .resume {
  padding: 40px;
}