html,
body, main, nav, header, ul {
  font-family: 'Product Sans';
  margin: 0;
  padding: 0;
}

.image-container {
  position: relative;
}

.image-overlay {
  background: rgba(0,0,0,.7);
  z-index: 2;
  width: 300px;
  height: 160px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border-radius: 5px;
  transition: 0.25s;
}

.image-overlay:hover {
  background: rgba(0,0,0,.1);
}


.navigation-link {
  display: flex;
  justify-content: flex-end;
}

.navigation-link  li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.navigation-link li a:link, .navigation-link li a:active, .navigation-link li a:visited {
  padding: 20px;
  transition: 0.25s;
  color: #fff;
  text-decoration: none;
}

.navigation-link li a:hover {
  background: rgba(255,255,255, 0.1);
}

.bg-dark  {
  background-color: #333;

}

#jumbotron {
  min-height: 800px;
  color: #fff;
  display: flex;
  align-items: center;
  
}

#jumbotron h1 {
  margin-left: 100px;
  font-size: 64px;
  font-weight: 400;
}

#jumbotron h1 span {
  display: block;
}

/* .big- */
